name: Build on Push
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: jantman
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set Docker tags
        id: tags
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            echo "tags=${{ github.repository }}:${{ github.sha }}" >> "$GITHUB_OUTPUT"
          else
            echo "tags=${{ github.repository }}:${{ github.ref_name }},${{ github.repository }}:latest" >> "$GITHUB_OUTPUT"
          fi
      - name: Docker Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64
          push: true
          sbom: true
          labels: |
            org.opencontainers.image.url=https://github.com/${{ github.repository }}
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.version=${{ github.ref_name }}
            org.opencontainers.image.revision=${{ github.sha }}
          tags: ${{ steps.tags.outputs.tags }}
